.navbar-default {
    background-color: #cfe795
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #fff;
    box-shadow: 1px 1px 1px;
}

.navbar-header button.navbar-toggle {
    clear: both;
}

.navbar-header button.navbar-toggle:hover, .navbar-header button.navbar-toggle:focus {
    background-color: #719500
}

#company_name {
    color: #fff;
    text-shadow: 1px 1px 1px black;
    padding-top: 5px;
    
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav >.active > a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #719500
}

.navbar-default .navbar-nav > li > a {
    color: #222;
}

/*   Body   */
h1 {
    margin: 0px;
}

h1, h2, h3 {
    font-family: 'Trirong', serif;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.05em
}


.container section {
    padding: 15px 15px 15px;
    position: relative;
}

.container section div {
    position: relative;
    background-color: #cfe795;
    border: 2px solid #719500;
    border-radius: 10px;
    padding: 0px 15px 25px;
}

.container section div a {
    position: absolute;
    bottom: 5px;
    right: 5px;
    box-shadow: 1px 1px 1px black;
    padding: 3px;
    color: inherit;
    background-color: #dff0d8
}

.container section div a:hover, .container section div a:focus, .container section div a:visited {
    text-decoration: none;
}

.container section div a:hover, .container section div a:active {
    background-color: #719500;
}


/* Small Devices, Tablets */
@media only screen and (min-width : 768px) and (max-width : 991px ) {
    body > .container > section:nth-child(2) > div, body > .container > section:nth-child(3) > div {
        height: 610px
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) and (max-width : 1999px) {
    .container section div {
        height: 680px
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .container section div {
        height: 540px
    }
}